
html, body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --rojo1: #E3350D;
    --verdeclaro: #ddeec8;
    --morado: #2a0545;
}